.swiper-container{
    position: relative;
}

.swiper{
    width: 100%;
}
.swiper-slide{
    width: 10rem;    
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    position: relative;

}
.swiper-slide .slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100%;
}
.swiper-slide .slide-content img{
    width: 100%;
    border-radius: 10px;
}
@media (min-width: 320px) and (max-width: 540px) {
    .swiper-slide{
        height: 10rem;
    }
}