@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@config "../tailwind.config.js";
@import "./font.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/grid";
@import "swiper/css/effect-coverflow";
@import "leaflet/dist/leaflet.css";
@tailwind utilities;
@tailwind components;

:root {
  --red-700: #ff4d4d;
}


@layer components {
 
}


/* .swiper-slide{
  width: 503px;
}
.deals-swiper .swiper-slide-active{
  width: 540px !important;
}
.deals-swiper{
  perspective: 250px;
} */
.deals-swiper .swiper-pagination-bullet-active {
  background-color: #ff4d4d; /* danger/red */
}

.deals-pagination {
  text-align: center;
  padding: 20px 0;
}
.deals-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ddd;
  opacity: 1;
  transition: all 0.3s ease;
}

.deals-pagination .swiper-pagination-bullet-active {
  background: #ff4d4d;
}
.dailyDeals_swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.dailyDeals_swiper .swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  /* background: #444; */
  height: calc((100% - 30px) / 2) !important;
}

.custom-input input {
  border-radius: 4px;
  border: none !important;
  /* border: 1px solid #B8BBBE; */
  height: 39px;
}
.custom-input-2 input {
  border-radius: 4px;
  border: 1px solid #B8BBBE;
  width: 250px !important;
  height: 39px;
}

.custom-input-2 input:focus{
  outline: none;
  border-color: #B8BBBE !important;
  --tw-ring-color: var(--red-700);
}

.custom-textarea {
  border: none;
}
.custom-textarea::placeholder{
  color: gray;
}
textarea:focus {
  /* border: 1px solid #B8BBBE; */
  outline: none;
  --tw-ring-color: transparent;
}

.custom-select select {
  border-radius: 4px;
  border: 1px solid #b8bbbe;
  height: 39px;
}
.custom-select-2 select {
  border: none;
}
.custom-select-2 select:focus {
  outline: none;
  --tw-ring-color: transparent;
}
.custom-select select:focus {
  border: 1px solid #b8bbbe;
  outline: none;
  --tw-ring-color: transparent;
}

@media (max-width: 640px) {
  .deals-nav-btn {
    display: none;
  }
}
@media (max-width: 767px) {
  .dailyDeals-nav {
    display: none;
  }
  .dailyDeals_swiper {
    height: 480px; /* or 5 * slide height */
  }
  .dailyDeals_swiper .swiper-slide {
    height: 110px !important;
  }
}
