.custom-input input{
  border-radius: 4px;
  height: 39px;
}
.custom-search{
  border: 1px solid #B8BBBE !important;
  border-radius: 4px !important;
}
.custom-input input:focus{
  border: 1px solid #B8BBBE;
  outline: none;
  --tw-ring-color: transparent;
}